---
import { Image } from 'astro:assets';
import { getCollection, render } from 'astro:content';
import thumbnail from '@/assets/thumbnail.png';
import { POSTS } from '@/constants';
import Layout from '@/layouts/Layout.astro';
import { getImgName, getPostUrl } from '@/lib';
import { StatusSchema } from '@/schema/posts';
import type { PostsType } from '@/types';

export async function getStaticPaths() {
  const blogs = await getCollection(POSTS, post => post.data.status === StatusSchema.enum.published);

  return blogs.map(post => ({
    params: {
      route: post.data.contentType,
      id: post.id,
    },
    props: { post },
  }));
}

interface Props {
  post: PostsType;
}

const { route } = Astro.params;
const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title}>
  <main>
    <a href={`/${route}`}>← 一覧へ戻る</a>
    <article class="markdown-body">
      <Image
        class="post-img"
        src={post.data.thumbnail ?? thumbnail}
        alt={`${post.id}のサムネイル`}
        format="avif"
        quality={80}
        loading="eager"
        inferSize
        transition:name={getImgName(post)}
      />
      <span>{post.data.createdAt.toLocaleDateString()}</span>
      <h1>{post.data.title}</h1>
      <Content />
    </article>
  </main>
</Layout>

<style>
  article {
    margin-top: 20px;
    span {
      color: #666;
    }
  }
  h1 {
    font-size: 2rem;
    margin-top: 5px;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
  }
</style>
