---
import { Image } from 'astro:assets';
import { render } from 'astro:content';
import thumbnail from '@/assets/thumbnail.png';
import Layout from '@/layouts/Layout.astro';
import { getImgName, getPosts } from '@/lib';

export async function getStaticPaths() {
  const posts = await getPosts();

  return posts.map(post => ({
    params: {
      route: post.data.contentType,
      id: post.id,
    },
    props: { post },
  }));
}

const { route } = Astro.params;
const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title}>
  <main>
    <button type="button" class="back-link"> ← 戻る </button>
    <article class="markdown-body">
      <Image
        class="post-img"
        src={post.data.thumbnail ?? thumbnail}
        alt={`${post.id}のサムネイル`}
        format="avif"
        quality={80}
        loading="eager"
        inferSize
        transition:name={getImgName(post)}
      />
      <span>{post.data.createdAt.toLocaleDateString()}</span>
      <h1>{post.data.title}</h1>
      <Content />
    </article>
  </main>

  <script>
    document.addEventListener("astro:page-load", () => {
      document.querySelector(".back-link")?.addEventListener("click", () => {
        history.back();
      });
    });
  </script>
</Layout>

<style>
  article {
    margin-top: 20px;
    span {
      color: #666;
    }
  }
  h1 {
    font-size: 2rem;
    margin-top: 5px;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
  }
</style>
