---
import '@/styles/global.css';
import { ClientRouter } from 'astro:transitions';
import { Temporal } from '@js-temporal/polyfill';

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const {
  title = 'ポートフォリオサイト',
  description = 'ポートフォリオサイトです。',
  image = '/favicon.svg', //"/ogp.png", // 1200x630px 推奨
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const ogpURL = new URL(image, Astro.site);
const currentYear = Temporal.Now.plainDateISO().year;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="kaji.blog" />
		<link rel="manifest" href="/site.webmanifest" />

		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
		<meta name="description" content={description} />
		<link rel="canonical" href={canonicalURL} />

		<meta property="og:type" content="website" />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={ogpURL} />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={ogpURL} />

		<ClientRouter />

		<script is:inline>
			const applyTheme = () => {
				// 将来cookieにするかも
				const theme =
					localStorage.getItem("theme") ??
					(window.matchMedia("(prefers-color-scheme: dark)").matches
						? "dark"
						: "light");
				document.documentElement.setAttribute("data-theme", theme);
			};

			applyTheme();
			document.addEventListener("astro:after-swap", applyTheme);
		</script>
	</head>
	<body>
		<div class="contents center">
			<slot />
		</div>
		<footer>
			<p>© {currentYear} <a href="https://github.com/RyOkEeeesh" target="_blank" rel="noopener noreferrer">kaji</a></p>
		</footer>
	</body>
</html>
